<div class="container">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark text-white">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>username</th>
                <th>Email</th>
                <th>Website</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let i of users'>
                <td>{{i.id}}</td>
                <td>{{i.Name}}</td>
                <td>{{i.username}}</td>
                <td>{{i.Email}}</td>
                <td>{{i.Website}}</td>
                <td>{{i.Address}}</td>
            </tr>
        </tbody>
    </table>
</div>