<h1 [class]="textClasses">{{name}}</h1>
<h1 [class.bg-danger]="redColor "  [class.bg-success]="!redColor "  >{{5+5}}</h1>
<img [src]="imgURL" alt="">
<p [style.background]="paragraphStyle ? 'red': 'pink'" [style.padding]="padding" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, modi ullam accusamus dolores eveniet voluptates dolore, iste suscipit maxime facilis optio consequatur quae nemo iusto, illo quaerat nihil ut aspernatur.</p>
<table class='table table-bordered'>
    <thead>
        <tr>
            <th [attr.colspan]="columnSpan">Students</th>
        </tr>
    </thead>
     <tbody>
            <tr>
            <td>1</td>
            <td>ram</td>
        </tr>
<tr>
    <td>2</td>
    <td>ramya</td>
</tr>
<tr>
    <td>3</td>
    <td>asu</td>
</tr>
    </tbody>

</table>