<!-- <p>business works!</p> -->
<!-- <div class="row">
        <div class="col-md-12">
            
            <div class="card card-body" *ngFor='let business of  businessNews'>
                    <h3 class="text-center">Business News</h3>
                <a href="{{business.url}}"><img class="img-thumbnail" src="{{business.urlToImage}}" alt="" class="card-image-top"></a>
                <h3>{{business.title}}</h3>
                <p>{{business.description}}</p>
                
        
            </div>
        </div>
    </div> -->


    <div class="row">
            <div class="col">
                    <div class="card card-body" *ngFor='let business of  businessNews'>
                            <h3 class="text-center">Business News</h3>
                        <a href="{{business.url}}"><img src="{{business.urlToImage}}" alt="" class="card-image-top"></a>
                        <h3>{{business.title}}</h3>
                        <p>{{business.description}}</p>
                        
                
                    </div>


            </div>
            <div class="col">
                    <div class="card card-body" *ngFor='let business of  businessNews'>
                            <h3 class="text-center">Business News</h3>
                        <a href="{{business.url}}"><img src="{{business.urlToImage}}" alt="" class="card-image-top"></a>
                        <h3>{{business.title}}</h3>
                        <p>{{business.description}}</p>
                        
                
                    </div>

            </div>
            <div class="w-100"></div>
            <div class="col">
                    <div class="card card-body" *ngFor='let business of  businessNews'>
                            <h3 class="text-center">Business News</h3>
                        <a href="{{business.url}}"><img src="{{business.urlToImage}}" alt="" class="card-image-top"></a>
                        <h3>{{business.title}}</h3>
                        <p>{{business.description}}</p>
                        
                
                    </div>
            </div>
            <div class="col">
                    <div class="card card-body" *ngFor='let business of  businessNews'>
                            <h3 class="text-center">Business News</h3>
                        <a href="{{business.url}}"><img src="{{business.urlToImage}}" alt="" class="card-image-top"></a>
                        <h3>{{business.title}}</h3>
                        <p>{{business.description}}</p>
                        
                
                    </div>
            </div>
          </div>
